---
layout: default
permarlink: /
---

<div class="home">
  <div class="text-center">
    <h1 class="page-heading display-4">
      Unofficial ACC
    </h1>
    <p class="h4 col-md-8 m-auto">
      {{site.description}}
    </p>
  </div>

  <!-- Recent -->
  <div class="my-4">
    <h2>
      Recent packages
      <a href="{{ site.baseurl }}{% link archives.md %}">
        <small class="text-muted h6">(Show all {{ site.packages | size }} packages)</small>
      </a>
    </h2>
    <div class="row">
      {% assign recentpackages = site.packages | sort: "updated_at" %}
      {% for package in recentpackages limit: 3 %}
      <div class="col-sm-4 pb-4">
          {% include package-card.html package="package" %}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Top -->
  <div class="my-4">
    <h2>
      Top packages
      <a href="{{ site.baseurl }}{% link archives.md %}">
        <small class="text-muted h6">(Show all {{ site.packages | size }} packages)</small>
      </a>
    </h2>
    <div class="row">
      {% assign toppackages = site.packages | sort: "created_at" %}
      {% for package in toppackages limit: 3 %}
      <div class="col-sm-4 pb-4">
          {% include package-card.html package="package" %}
        </div>
      {% endfor %}
    </div>
  </div>

</div>
