---
layout: default
---

{% assign author = site.authors | where: 'name', page.author | first %}

<article class="post h-entry col-sm" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | smartify }}
    </h1>
    <div class="row post-meta">
      <p class="col-6">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if author -%}
          • <a href="{{ author.url | relative_url }}">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ author.name | escape }}</span>
              </span>
            </a>
        {%- endif -%}
      </p>
      <p class="col-6 text-right">
        <a href="https://github.com/floriancourgey/unofficialacc/tree/master/{{ page.path }}" target="_blank">
          <i class="fas fa-pencil-alt"></i> Improve this page
        </a>
      </p>
    </div>
    <div class="post-categories">
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/categories?id={{category|slugize}}"
          class="badge badge-info">
          <i class="fas fa-tag"></i> {{category}}
        </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </header>

  <div class="">
    <div class="row">
      <div class="post-content e-content col-md-9" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="col-md-3 order-sm-1">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-info-circle"></i> Package info
          </div>
          <div class="card-body">
            <div>
              <a class="btn btn-primary" href="{{page.download_link}}" role="button" target="_blank"><i class="fas fa-download"></i> Download</a>
            </div>
            <div>
              <span class="btn border border-primary">Downloads: <span id="download_count" class="badge badge-success"><i class="fas fa-circle-notch fa-spin"></i></span></span>
            </div>
            <div>
              Updated at: <span>{{page.updated_at}}</span>
            </div>
            <div>
              Last Version: <span>{{page.last_version}}</span>
            </div>
            <div>
              Created at: <span>{{page.created_at}}</span>
            </div>
          </div>
          <div class="card-fooder">
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    <p style="font-size:10px;color:darkgray;">
      To display code in Disqus comment, use <code>&lt;pre&gt;&lt;code&gt;</code> tags. For example:<br/>
      <code>&lt;pre&gt;&lt;code class="python"&gt;a = 'b';&lt;/code&gt;&lt;/pre&gt;</code><br/>
      See <a href="https://help.disqus.com/commenting/syntax-highlighting" target="_blank">Disqus Syntax highlighting</a> for details.
    </p>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div style="height:25px"></div>
</article>

<div>

</div>

<div style="height:50px"></div>

<script>
  var release_name = '{{page.release_name}}';
</script>
